Source: nsswitch-vpn
Section: net
Priority: optional
Maintainer: Matthew Elgert mdelgert@yahoo.com
Build-Depends: debhelper (>= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/mdelgert/nsswitch-vpn
Package: nsswitch-vpn
Architecture: all
Depends: network-manager, wireguard, bash
Description: Automates nsswitch.conf changes for WireGuard VPN DNS resolution
 This package installs scripts to modify /etc/nsswitch.conf when the WireGuard
 VPN (interface wg0) is activated or deactivated, fixing SSH DNS resolution issues
 for .local hostnames by switching between 'hosts: files dns mdns4' and
 'hosts: files mdns4_minimal [NOTFOUND=return] dns'.