#!/usr/bin/make -f

%:
	dh $@

override_dh_clean:
	dh_clean
	echo "Clean logic moved to tools/clean.sh"

override_dh_auto_build:
	gcc -Wall -g -O2 -o vpn-nsswitch main.c

override_dh_auto_install:
	install -D -m 0755 vpn-nsswitch debian/vpn-nsswitch/usr/bin/vpn-nsswitch
	strip --strip-unneeded debian/vpn-nsswitch/usr/bin/vpn-nsswitch
